#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  border: 2px solid blue;
}

input:focus {
  border-color: #66afe9;
  outline: none;
}

.counter {
  font-size: 24px;
  margin-top: 10px;
  color: #333;

  padding: 10px;
  width: 100%;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.1),
    0 0 10px #f2ff00aa,
    0 0 20px #f2ff00aa,
    0 0 30px #f2ff00aa;
  border-radius: 8px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f2ff00aa;
  text-shadow: 2px 2px 4px #000000;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 2px 2px 4px #000000;
  }
  to {
    text-shadow: 2px 2px 10px #f2ff00aa;
  }
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

span {
  font-size: 24px;
  font-weight: bold;
  color: #ff5733;
}

#history {
  margin-top: 20px;
  white-space: pre-wrap;
  text-align: left;
  border: none;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  color: #ffffff;
  background-color: #000000;

  border-radius: 8px;
}

.gap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.div {
  margin-top: 20px;
  white-space: pre-wrap;
  text-align: left;
  border: none;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  color: #ffffff;
  border-radius: 8px;
}
